<?xml version="1.0"?>
<config>
    <modules>
        <Mygento_Kkm>
            <version>1.0.0</version>
        </Mygento_Kkm>
    </modules>
    <global>
        <blocks>
            <kkm>
                <class>Mygento_Kkm_Block</class>
            </kkm>
        </blocks>
        <helpers>
            <kkm>
                <class>Mygento_Kkm_Helper</class>
            </kkm>
        </helpers>
        <models>
            <kkm>
                <class>Mygento_Kkm_Model</class>
            </kkm>
        </models>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <kkm>
                    <files>
                        <default>Mygento_Kkm.csv</default>
                    </files>
                </kkm>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <kkm>
                                            <title>Mygento Kkm Configuration</title>
                                        </kkm>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <kkm>
            <general>
                <enabled>0</enabled>
                <debug>0</debug>
            </general>
        </kkm>
    </default>
</config>