<?xml version="1.0"?>
<config>
    <modules>
        <Mygento_Kkm>
            <version>1.0.0</version>
        </Mygento_Kkm>
    </modules>
    <frontend>
        <routers>
            <kkm>
                <use>standard</use>
                <args>
                    <module>Mygento_Kkm</module>
                    <frontName>kkm</frontName>
                </args>
            </kkm>
        </routers>
    </frontend>
    <global>
        <blocks>
            <kkm>
                <class>Mygento_Kkm_Block</class>
            </kkm>
        </blocks>
        <helpers>
            <kkm>
                <class>Mygento_Kkm_Helper</class>
            </kkm>
        </helpers>
        <models>
            <kkm>
                <class>Mygento_Kkm_Model</class>
                <resourceModel>kkm_resource</resourceModel>
            </kkm>
            <kkm_resource>
                <class>Mygento_Kkm_Model_Resource</class>
                <deprecatedNode>kkm_mysql4</deprecatedNode>
                <entities>
                    <token>
                        <table>mygento_kkm_token</table>
                    </token>
                </entities>
            </kkm_resource>
        </models>
        <events>
            <sales_order_invoice_register>
                <observers>
                    <kkm_sales_order_invoice_register>
                        <class>kkm/observer</class>
                        <method>sendCheque</method>
                    </kkm_sales_order_invoice_register>
                </observers>
            </sales_order_invoice_register>
            <sales_order_creditmemo_refund>
                <observers>
                    <kkm_sales_order_invoice_cancel>
                        <class>kkm/observer</class>
                        <method>cancelCheque</method>
                    </kkm_sales_order_invoice_cancel>
                </observers>
            </sales_order_creditmemo_refund>
        </events> 
        <resources>
            <kkm_setup>
                <setup>
                    <module>Mygento_Kkm</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </kkm_setup>
        </resources> 
    </global>
    <adminhtml>
        <translate>
            <modules>
                <kkm>
                    <files>
                        <default>Mygento_Kkm.csv</default>
                    </files>
                </kkm>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <kkm>
                                            <title>Mygento Kkm Configuration</title>
                                        </kkm>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <kkm>
            <general>
                <enabled>0</enabled>
                <debug>0</debug>
                <tax_all>1</tax_all>
                <tax_options>vat0</tax_options>
                <shipping_tax>vat0</shipping_tax>
                <default_shipping_name>1</default_shipping_name>
                <auto_send_after_invoice>1</auto_send_after_invoice>
                <auto_send_after_cancel>1</auto_send_after_cancel>
            </general>
        </kkm>
    </default>
</config>