<?xml version="1.0"?>
<config>
    <modules>
        <Mygento_Kkm>
            <version>1.1.3</version>
        </Mygento_Kkm>
    </modules>
    <frontend>
        <routers>
            <kkm>
                <use>standard</use>
                <args>
                    <module>Mygento_Kkm</module>
                    <frontName>kkm</frontName>
                </args>
            </kkm>
        </routers>
    </frontend>
    <global>
        <blocks>
            <kkm>
                <class>Mygento_Kkm_Block</class>
            </kkm>
        </blocks>
        <helpers>
            <kkm>
                <class>Mygento_Kkm_Helper</class>
            </kkm>
        </helpers>
        <models>
            <kkm>
                <class>Mygento_Kkm_Model</class>
                <resourceModel>kkm_resource</resourceModel>
            </kkm>
            <kkm_resource>
                <class>Mygento_Kkm_Model_Resource</class>
                <deprecatedNode>kkm_mysql4</deprecatedNode>
                <entities>
                    <token>
                        <!--deprecated entity since 1.0.4-->
                        <table>mygento_kkm_token</table>
                    </token>
                    <status>
                        <table>mygento_kkm_status</table>
                    </status>
                    <log_entry>
                        <table>mygento_logs</table>
                    </log_entry>
                </entities>
            </kkm_resource>
        </models>
        <events>
            <sales_order_save_after>
                <observers>
                    <kkm_check_order_status>
                        <class>kkm/observer</class>
                        <method>checkStatus</method>
                    </kkm_check_order_status>
                </observers>
            </sales_order_save_after>
            <sales_order_invoice_save_after>
                <observers>
                    <kkm_sales_order_invoice_save_after>
                        <class>kkm/observer</class>
                        <method>sendCheque</method>
                    </kkm_sales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <kkm_sales_order_creditmemo_save_after>
                        <class>kkm/observer</class>
                        <method>cancelCheque</method>
                    </kkm_sales_order_creditmemo_save_after>
                </observers>
            </sales_order_creditmemo_save_after>
            <adminhtml_widget_container_html_before>
                <observers>
                    <kkm_add_button_resend>
                        <class>kkm/observer</class>
                        <method>addExtraButtons</method>
                    </kkm_add_button_resend>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
        <resources>
            <kkm_setup>
                <setup>
                    <module>Mygento_Kkm</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </kkm_setup>
        </resources>
        <template>
            <email>
                <kkm_error_notification>
                    <label>KKM Error Notification</label>
                    <file>kkm_error_notification.html</file>
                    <type>html</type>
                </kkm_error_notification>
            </email>
        </template>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <kkm after="Mage_Adminhtml">Mygento_Kkm_Adminhtml</kkm>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <kkm>
                    <file>mygento/kkm.xml</file>
                </kkm>
            </updates>
        </layout>
        <translate>
            <modules>
                <kkm>
                    <files>
                        <default>Mygento_Kkm.csv</default>
                    </files>
                </kkm>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <kkm>
                                            <title>Mygento Kkm Configuration</title>
                                        </kkm>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <kkm_cheque translate="title" module="kkm">
                            <title>KKM options</title>
                            <children>
                                <viewlogs translate="title">
                                    <title>View logs</title>
                                </viewlogs>
                                <resend translate="title">
                                    <title>Manually send invoice/creditmemo</title>
                                </resend>
                                <forceresendAction translate="title">
                                    <title>Manually force send invoice/creditmemo</title>
                                </forceresendAction>
                                <checkstatus translate="title">
                                    <title>Manually check status of invoice/creditmemo</title>
                                </checkstatus>
                                <clearlogs translate="title">
                                    <title>Clear logs table</title>
                                </clearlogs>
                            </children>
                        </kkm_cheque>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <kkm>
            <general>
                <enabled>0</enabled>
                <debug>0</debug>
                <tax_all>1</tax_all>
                <tax_options>vat0</tax_options>
                <shipping_tax>vat0</shipping_tax>
                <default_shipping_name>1</default_shipping_name>
                <auto_send_after_invoice>1</auto_send_after_invoice>
                <auto_send_after_cancel>1</auto_send_after_cancel>
                <fail_status>kkm_failed</fail_status>
                <cron_update_expr>10 * * * *</cron_update_expr>
                <autosend_limit>5</autosend_limit>
                <force_resend>0</force_resend>
                <algorithm>1</algorithm>
                <show_notif_in_admin>1</show_notif_in_admin>
                <debug_level>3</debug_level>
            </general>
        </kkm>
    </default>
    <crontab>
        <jobs>
            <kkm_update_transactions>
                <schedule>
                    <config_path>kkm/general/cron_update_expr</config_path>
                </schedule>
                <run>
                    <model>kkm/observer::updateTransactions</model>
                </run>
            </kkm_update_transactions>
        </jobs>
    </crontab>
</config>