<?xml version="1.0"?>
<!--
/**
 * @category Mygento
 * @package Mygento_Kkm
 * @copyright 2017 NKS LLC. (https://www.mygento.ru)
 */
-->
<config>
    <tabs>
        <allmygento>
             <label>Mygento</label>
             <sort_order>400</sort_order>
        </allmygento>
    </tabs>
    <sections>
        <kkm translate="label" module="kkm">
            <label>Kkm интеграция</label>
            <tab>allmygento</tab>
            <frontend_type>text</frontend_type>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>Kkm Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <vendor translate="label">
                            <label>Vendor</label>
                            <frontend_type>select</frontend_type>
                            <source_model>kkm/source_vendor</source_model> 
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>  
                            <can_be_empty>0</can_be_empty>
                        </vendor>
                        <login translate="label">
                            <label>Kkm login</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </login>
                        <password translate="label">
                            <label>Kkm password</label>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </password>
                        <group_code translate="label">
                            <label>Atol Group Code</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <vendor>atol</vendor>
                            </depends>
                        </group_code>
                        <inn translate="label">
                            <label>INN</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>validate-digits</validate>
                        </inn>
                        <payment_address translate="label comment">
                            <label>Payment Address</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>
                                <![CDATA[Адрес расчётов]]>
                            </comment> 
                        </payment_address>
                        <sno translate="label comment">
                            <label>SNO</label>
                            <frontend_type>select</frontend_type>
                            <source_model>kkm/source_sno</source_model> 
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store> 
                            <comment>
                                <![CDATA[Система налогообложения]]>
                            </comment> 
                        </sno>
                        <tax_all translate="label comment">
                            <label>Tax all</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                <![CDATA[Единый всем]]>
                            </comment>
                        </tax_all>
                        <tax_options translate="label">
                            <label>Tax options</label>
                            <frontend_type>select</frontend_type>
                            <source_model>kkm/source_taxoption</source_model> 
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <tax_all>1</tax_all>
                            </depends>
                        </tax_options>
                        <product_tax_attr translate="label">
                            <label>Attribute for product tax</label>
                            <frontend_type>select</frontend_type>
                            <source_model>kkm/source_list</source_model>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>0</can_be_empty>
                            <depends>
                                <tax_all>0</tax_all>
                            </depends>
                        </product_tax_attr>
                        <payment_methods translate="label comment">
                            <label>List of payment methods</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>kkm/source_payments</source_model>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>                            
                            <validate>validate-select</validate>
                            <comment>
                                <![CDATA[Choose payment methods. Limit 1-10.]]>
                            </comment>
                        </payment_methods>
                        <auto_send_after_invoice translate="label">
                            <label>Auto send after invoice</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>140</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auto_send_after_invoice>
                        <auto_send_after_cancel translate="label">
                            <label>Auto send after cancel</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>150</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auto_send_after_cancel>
                        <shipping_tax translate="label comment">
                            <label>Shipping tax code</label>
                            <frontend_type>select</frontend_type>
                            <source_model>kkm/source_taxoption</source_model>
                            <sort_order>160</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                <![CDATA[Shipping tax]]>
                            </comment>
                        </shipping_tax>
                        <default_shipping_name translate="label comment">
                            <label>Use default shipping name</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>170</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                <![CDATA[Shipping name]]>
                            </comment>
                        </default_shipping_name>
                        <custom_shipping_name translate="label comment">
                            <label>Custom shipping name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>180</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>
                                <![CDATA[Custom shipping name]]>
                            </comment> 
                            <depends>
                                <default_shipping_name>0</default_shipping_name>
                            </depends>
                        </custom_shipping_name>
                        <fail_status translate="label">
                            <label>Sending cheque fail status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status_processing</source_model>
                            <sort_order>190</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Set this status to order if sending data to KKM vendor failed.</comment>
                        </fail_status>
                        <send_phone translate="label">
                            <label>Send phone to vendor</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <vendor>atol</vendor>
                            </depends>
                        </send_phone>

                        <heading_2 translate="label">
                            <label>Advanced settings</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>500</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </heading_2>
                        <discount_helper_version>
                            <frontend_model>kkm/adminhtml_info</frontend_model>
                            <sort_order>800</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </discount_helper_version>
                        <callback_url translate="label comment">
                            <label>Callback url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>900</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Format: http://www.domain.com/. Leave it empty for default value.</comment>
                            <depends>
                                <vendor>atol</vendor>
                            </depends>
                        </callback_url>
                        <cron_update_expr translate="label comment">
                            <label>Frequency of updating</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>930</sort_order>
                            <!--<comment><![CDATA[Ololo]]></comment>-->
                            <comment><![CDATA[Use Crontab Format (Eg. "*/5 * * * *" for every 5 minutes)<br/>If status of cheque is <br/><strong>wait</strong> - The status will be updated.<br/><strong>fail</strong> - The cheque will be sent again to KKM.<br/>]]></comment>
                            <show_in_default>1</show_in_default>
                        </cron_update_expr>


                        <!--ERROR HANDLING-->
                        <heading_error translate="label">
                            <label>Error handling</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>1000</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </heading_error>
                        <show_notif_in_admin translate="label comment">
                            <label>Show notifications in Dashboard</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1003</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </show_notif_in_admin>
                        <email_notif_enabled translate="label comment">
                            <label>Send logs to emails</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1005</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </email_notif_enabled>
                        <!--<send_notif_severity translate="label">-->
                            <!--<label>Level of logs to send</label>-->
                            <!--<frontend_type>select</frontend_type>-->
                            <!--<source_model>kkm/source_severity</source_model>-->
                            <!--<sort_order>1020</sort_order>-->
                            <!--<show_in_default>1</show_in_default>-->
                            <!--<show_in_website>1</show_in_website>-->
                            <!--<show_in_store>1</show_in_store>-->
                            <!--<comment>All log records with this severity will be sent to email</comment>-->
                            <!--<depends>-->
                                <!--<email_notif_enabled>1</email_notif_enabled>-->
                            <!--</depends>-->
                        <!--</send_notif_severity>-->
                        <err_notif_emails translate="label comment">
                            <label>Emails</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1010</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Separated by comma</comment>
                            <depends>
                                <email_notif_enabled>1</email_notif_enabled>
                            </depends>
                        </err_notif_emails>
                        <err_notif_template translate="label">
                            <label>Email Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>1030</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <email_notif_enabled>1</email_notif_enabled>
                            </depends>
                        </err_notif_template>
                        <err_notif_sender translate="label">
                            <label>Sender</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_identity</source_model>
                            <sort_order>1040</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <email_notif_enabled>1</email_notif_enabled>
                            </depends>
                        </err_notif_sender>

                        <debug translate="label">
                            <label>Debug</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </debug>
                        <debug_level translate="label">
                            <label>Debug level</label>
                            <frontend_type>select</frontend_type>
                            <source_model>kkm/source_severity</source_model>
                            <sort_order>1110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <debug>1</debug>
                            </depends>
                        </debug_level>
                        <getlog translate="label">
                            <label>See logs</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>kkm/logs_button</frontend_model>
                            <sort_order>1200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <debug>1</debug>
                            </depends>
                        </getlog>
                    </fields>
                </general>
            </groups>
        </kkm>
    </sections>
</config>