.DS_Store
/magento.rb
/magento.py
/vendor/
/node_modules
composer.lock

#unit testing
/app/code/community/EcomDev/
/lib/EcomDev
/lib/Spyc
/lib/vfsStream
/shell/ecomdev-phpunit.php
/app/etc/modules/EcomDev_PHPUnit.xml
/app/etc/modules/EcomDev_PHPUnitTest.xml

#base
app/code/community/Mygento/Base
app/etc/modules/Mygento_Base.xml
app/locale/ru_RU/Mygento_Base.csv
skin/adminhtml/default/default/images/mygento/base/logo.png