language: php

php:
  - 5.4
  - 5.5
  - 5.6

matrix:
  allow_failures:
    - php: hhvm

before_script:
  - composer self-update --no-interaction
  - composer install --no-interaction
  - php vendor/bin/phpcs --config-set ignore_warnings_on_exit 1

script:
  - php vendor/bin/parallel-lint --exclude vendor .
  - php vendor/bin/phpcs --standard=vendor/magento-ecg/coding-standard/Ecg,vendor/mygento/coding-standard/Mygento-Mage1 --ignore=lib .
  - php vendor/bin/phpcpd --exclude=vendor .
  - php vendor/bin/phpdcd --exclude=vendor .
  - php vendor/bin/phpmd . text vendor/mygento/coding-standard/Mygento-Mage1/phpmd.xml --exclude vendor,lib