<?xml version="1.0"?>
<!--
/**
 * @author Mygento Team
 * @copyright Copyright 2018 Mygento
 * @package Mygento_Kkm
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Mygento_Kkm::root" title="Kkm" translate="title">
                    <resource id="Mygento_Kkm::cheque_resend" title="Mygento Kkm - Cheque Resend" sortOrder="100"/>
                    <resource id="Mygento_Kkm::cheque_checkstatus" title="Mygento Kkm - Cheque Check Status" sortOrder="110"/>
                    <resource id="Mygento_Kkm::cheque_resend_with_incr_ext_id" title="Mygento Kkm - Cheque Resend With Increase Ext id" sortOrder="120"/>
                    <resource id="Mygento_Kkm::transactionattempt" title="Kkm Transaction Attempt" translate="title" sortOrder="130"/>
                    <resource id="Mygento_Kkm::chequestatus" title="Kkm Cheque Status" translate="title" sortOrder="140"/>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Mygento_Kkm::config" title="Mygento Kkm Config" sortOrder="80"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
