<?xml version="1.0"?>
<!--
/**
 * @author Mygento Team
 * @copyright See COPYING.txt for license details.
 * @package Mygento_Kkm
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mygento_kkm>
            <general>
                <enabled>1</enabled>
                <vendor>atol</vendor>
                <debug>1</debug>
                <debug_level>2</debug_level>
                <tax_all>1</tax_all>
                <tax_options>vat0</tax_options>
                <shipping_tax>vat0</shipping_tax>
                <default_shipping_name>1</default_shipping_name>
                <auto_send_after_invoice>1</auto_send_after_invoice>
                <auto_send_after_cancel>1</auto_send_after_cancel>
            </general>
        </mygento_kkm>
    </default>
</config>
