<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!--Console Commands-->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="sendSellToAtol" xsi:type="object">Mygento\Kkm\Console\SendSell</item>
                <item name="sendSellRefundToAtol" xsi:type="object">Mygento\Kkm\Console\SendRefund</item>
                <item name="updateStatusAtol" xsi:type="object">Mygento\Kkm\Console\UpdateStatus</item>
                <item name="sendResellToAtol" xsi:type="object">Mygento\Kkm\Console\SendResell</item>
                <item name="showReport" xsi:type="object">Mygento\Kkm\Console\Report</item>
            </argument>
        </arguments>
    </type>

    <preference for="Mygento\Kkm\Api\Processor\SendInterface" type="Mygento\Kkm\Model\Processor\Send"/>
    <preference for="Mygento\Kkm\Api\Processor\UpdateInterface" type="Mygento\Kkm\Model\Processor\Update"/>

    <preference for="Mygento\Kkm\Api\Data\RequestInterface" type="Mygento\Kkm\Model\Atol\RequestForVersion4"/>
    <preference for="Mygento\Kkm\Api\Data\UpdateRequestInterface" type="Mygento\Kkm\Model\Atol\UpdateRequest"/>
    <preference for="Mygento\Kkm\Api\Data\ItemInterface" type="Mygento\Kkm\Model\Atol\Item"/>
    <preference for="Mygento\Kkm\Api\Data\UserPropInterface" type="Mygento\Kkm\Model\Atol\UserProp"/>
    <preference for="Mygento\Kkm\Api\Data\PaymentInterface" type="Mygento\Kkm\Model\Atol\Payment"/>
    <preference for="Mygento\Kkm\Model\VendorInterface" type="Mygento\Kkm\Model\Atol\Vendor"/>
    <!--Queue-->
    <preference for="Mygento\Kkm\Api\Queue\MergedRequestInterface" type="Mygento\Kkm\Model\Queue\MergedRequest"/>
    <preference for="Mygento\Kkm\Api\Queue\MergedUpdateRequestInterface" type="Mygento\Kkm\Model\Queue\MergedUpdateRequest"/>
    <type name="Magento\Framework\MessageQueue\MergerFactory">
        <arguments>
            <argument name="mergers" xsi:type="array">
                <item name="mygento.kkm.sell" xsi:type="string">Mygento\Kkm\Model\Queue\Merger</item>
                <item name="mygento.kkm.refund" xsi:type="string">Mygento\Kkm\Model\Queue\Merger</item>
                <item name="mygento.kkm.resell" xsi:type="string">Mygento\Kkm\Model\Queue\Merger</item>
                <item name="mygento.kkm.update" xsi:type="string">Mygento\Kkm\Model\Queue\UpdateMerger</item>
            </argument>
        </arguments>
    </type>

    <!--Transaction Attempt entity-->
    <preference for="Mygento\Kkm\Api\TransactionAttemptRepositoryInterface" type="Mygento\Kkm\Model\TransactionAttemptRepository"/>
    <preference for="Mygento\Kkm\Api\Data\TransactionAttemptInterface" type="Mygento\Kkm\Model\TransactionAttempt"/>
    <preference for="Mygento\Kkm\Api\Data\TransactionAttemptSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="Mygento\Kkm\Api\Data\TransactionAttemptInterface" xsi:type="string">Mygento\Kkm\Api\TransactionAttemptRepositoryInterface</item>
            </argument>
        </arguments>
    </type>
</config>