<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mygento_Kkm::root" title="Kkm" translate="title" module="Mygento_Kkm" sortOrder="90" parent="Magento_Backend::stores" resource="Mygento_Kkm::root"/>
        <add id="Mygento_Kkm::transactionattempt" title="Transaction Attempt" translate="title" module="Mygento_Kkm" sortOrder="90" parent="Mygento_Kkm::root" action="kkm/transactionattempt" resource="Mygento_Kkm::transactionattempt"/>
        <add id="Mygento_Kkm::chequestatus_grid" title="Cheque Status Grid" translate="title" module="Mygento_Kkm" sortOrder="90" parent="Mygento_Kkm::root" action="kkm/chequestatus" resource="Mygento_Kkm::chequestatus_grid"/>
    </menu>
</config>
