<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @author Mygento Team
 * @copyright See COPYING.txt for license details.
 * @package Mygento_Kkm
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="mygento_kkm" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Kkm Integration</label>
            <tab>mygento</tab>
            <resource>Mygento_Kkm::config</resource>
            <group id="atol" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Atol Settings</label>
                <field id="login" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Kkm login</label>
                </field>
                <field id="password" translate="label" type="obscure" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Kkm password</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="group_code" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Atol Group Code</label>
                </field>
                <field id="inn" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>INN</label>
                    <validate>validate-digits</validate>
                </field>
                <field id="payment_address" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment Address</label>
                    <comment>
                        <![CDATA[Адрес расчётов]]>
                    </comment>
                </field>
                <field id="sno" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SNO</label>
                    <source_model>Mygento\Kkm\Model\Source\Sno</source_model>
                    <comment>
                        <![CDATA[Система налогообложения]]>
                    </comment>
                </field>
                <field id="api_version" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Version</label>
                    <source_model>Mygento\Kkm\Model\Source\ApiVersion</source_model>
                </field>
                <field id="test_mode" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Test mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/*/api_version">4</field>
                    </depends>
                </field>
                <field id="callback_url" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Callback URL</label>
                </field>
                <group id="error_codes" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Error Codes</label>
                    <field id="non_fatal_error_codes" translate="label" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="1"
                           showInStore="1">
                        <label>Non Fatal Error Codes</label>
                        <source_model>Mygento\Kkm\Model\Source\Atol\ErrorCode</source_model>
                        <frontend_class>validate-select</frontend_class>
                        <comment>Attempts with these error codes will be sent with new external_id</comment>
                    </field>
                </group>
            </group>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="tax_all" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tax all</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[Единый всем]]>
                    </comment>
                </field>
                <field id="tax_options" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tax options</label>
                    <source_model>Mygento\Kkm\Model\Source\Tax</source_model>
                    <depends>
                        <field id="*/*/tax_all">1</field>
                    </depends>
                </field>
                <field id="product_tax_attr" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attribute for product tax</label>
                    <source_model>Mygento\Base\Model\Source\Attributes</source_model>
                    <can_be_empty>0</can_be_empty>
                    <depends>
                        <field id="*/*/tax_all">0</field>
                    </depends>
                </field>
                <field id="payment_methods" translate="label" type="multiselect" sortOrder="125" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>List of payment methods</label>
                    <source_model>Mygento\Base\Model\Source\Payments</source_model>
                    <frontend_class>validate-select</frontend_class>
                    <comment>
                        <![CDATA[Choose payment methods. Limit 1-10.]]>
                    </comment>
                </field>
                <field id="auto_send_after_invoice" translate="label" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Auto send after invoice</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="auto_send_after_cancel" translate="label" type="select" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Auto send after refund</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="shipping_tax" translate="label" type="select" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shipping tax code</label>
                    <source_model>Mygento\Kkm\Model\Source\Tax</source_model>
                    <comment>
                        <![CDATA[Shipping tax]]>
                    </comment>
                </field>
                <field id="default_shipping_name" translate="label" type="select" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use default shipping name</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[Shipping name]]>
                    </comment>
                </field>
                <field id="custom_shipping_name" translate="label" type="text" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Custom shipping name</label>
                    <comment>
                        <![CDATA[Custom shipping name]]>
                    </comment>
                    <depends>
                        <field id="*/*/default_shipping_name">0</field>
                    </depends>
                </field>
                <field id="fail_status" translate="label" type="select" sortOrder="171" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sending cheque fail status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
                    <comment>
                        <![CDATA[Set this status to order if sending data to KKM vendor failed.]]>
                    </comment>
                </field>
                <field id="order_status_after_kkm_transaction_done" translate="label" type="select" sortOrder="172" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order status after kkm transaction done</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status\Processing</source_model>
                    <comment>Only for orders with 'KKM Failed' status</comment>
                </field>
                <field id="async_enabled" translate="label comment" type="select" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Async processing</label>
                    <comment>Through queue (Magento Queue Framework)</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="is_retry_sending_endlessly" translate="label comment" type="select" sortOrder="181" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Retry sending endlessly</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="is_use_custom_retry_intervals" translate="label comment" type="select" sortOrder="181" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use Custom Retry Intervals</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="retry_intervals" translate="label" type="text" sortOrder="182" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Retry Intervals</label>
                    <comment>Minutes separated by comma. Example: '1,5,15,30,60'</comment>
                </field>
                <field id="retry_limit" translate="label" type="text" sortOrder="183" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Retry Limit</label>
                    <comment>Limit when processing scheduled attempts</comment>
                </field>
                <field id="max_trials" translate="label" type="text" sortOrder="185" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Max trials to resend</label>
                </field>
                <field id="max_update_trials" translate="label" type="text" sortOrder="186" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Max trials to update status</label>
                </field>
                <field id="update_cron" translate="label" type="select" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Update by cron</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="update_cron_expr" translate="label" type="text" sortOrder="193" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Update frequency</label>
                    <depends>
                        <field id="*/*/update_cron">1</field>
                    </depends>
                </field>
                <field id="admin_notifications" translate="label" type="select" sortOrder="195" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show notifications in Dashboard</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="getlog" translate="label" type="text" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logs</label>
                    <frontend_model>Mygento\Kkm\Block\Adminhtml\System\Config\GetLogs</frontend_model>
                    <depends>
                        <field id="*/*/debug">1</field>
                    </depends>
                </field>
            </group>

            <group id="company" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Extended Company Settings</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="jur_type_attribute" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Company Type Attribute</label>
                    <source_model>Mygento\Kkm\Model\Source\CustomerAttributes</source_model>
                    <can_be_empty>0</can_be_empty>
                    <depends>
                        <field id="is_enabled">1</field>
                    </depends>
                </field>

                <field id="jur_type_attribute_value_map" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Company Type Attribute Value Map</label>
                    <frontend_model>Mygento\Kkm\Block\Adminhtml\Form\Field\JurTypeValues</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <depends>
                        <field id="is_enabled">1</field>
                    </depends>
                </field>

                <field id="default_jur_type" translate="label" type="select" sortOrder="31" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Default Company Type</label>
                    <source_model>Mygento\Kkm\Model\Source\JurType</source_model>
                    <depends>
                        <field id="is_enabled">1</field>
                    </depends>
                </field>

                <field id="jur_inn_attribute" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Inn Attribute</label>
                    <source_model>Mygento\Kkm\Model\Source\CustomerAttributes</source_model>
                    <can_be_empty>0</can_be_empty>
                    <depends>
                        <field id="is_enabled">1</field>
                    </depends>
                </field>

                <field id="jur_name_attribute" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Name Attribute</label>
                    <source_model>Mygento\Kkm\Model\Source\CustomerAttributes</source_model>
                    <can_be_empty>0</can_be_empty>
                    <comment><![CDATA[Customer attribute containing Organization name or Individual Entrepreneur full name.]]></comment>
                    <depends>
                        <field id="is_enabled">1</field>
                    </depends>
                </field>

                <field id="jur_passport_attribute" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Passport Attribute</label>
                    <source_model>Mygento\Kkm\Model\Source\CustomerAttributes</source_model>
                    <can_be_empty>0</can_be_empty>
                    <comment><![CDATA[Customer attribute containing Individual Entrepreneur passport number.]]></comment>
                    <depends>
                        <field id="is_enabled">1</field>
                    </depends>
                </field>

                <field id="country_code_attribute" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Country Code Attribute</label>
                    <source_model>Mygento\Base\Model\Source\Attributes</source_model>
                    <can_be_empty>0</can_be_empty>
                    <comment><![CDATA[Product attribute containing country code according "Russian classification of countries of the world".]]></comment>
                    <depends>
                        <field id="is_enabled">1</field>
                    </depends>
                </field>

                <field id="default_country_code" translate="label" type="text" sortOrder="71" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Default Country Code</label>
                    <depends>
                        <field id="is_enabled">1</field>
                    </depends>
                </field>

                <field id="custom_declaration_attribute" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Declaration Attribute</label>
                    <source_model>Mygento\Base\Model\Source\Attributes</source_model>
                    <can_be_empty>0</can_be_empty>
                    <comment><![CDATA[Product attribute containing custom declaration number value.]]></comment>
                    <depends>
                        <field id="is_enabled">1</field>
                    </depends>
                </field>

                <field id="default_custom_declaration" translate="label" type="text" sortOrder="81" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Default Custom Declaration</label>
                    <depends>
                        <field id="is_enabled">1</field>
                    </depends>
                </field>

            </group>

            <!--REPORT HANDLING-->
            <group id="report" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Report Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="template" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Email template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends>
                        <field id="*/*/enabled">1</field>
                    </depends>
                </field>
                <field id="email" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Email</label>
                    <validate>validate-emails</validate>
                    <comment>You can specify several emails separated by comma</comment>
                    <depends>
                        <field id="*/*/enabled">1</field>
                    </depends>
                </field>
                <field id="sender_email" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sender email</label>
                    <validate>validate-email</validate>
                    <depends>
                        <field id="*/*/enabled">1</field>
                    </depends>
                </field>
                <field id="period" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Period</label>
                    <source_model>Mygento\Kkm\Model\Source\Period</source_model>
                    <comment><![CDATA[Отчеты за какой период будут отправлены на email]]></comment>
                    <depends>
                        <field id="*/*/enabled">1</field>
                    </depends>
                </field>
                <field id="cron_expr_to_send" translate="label" type="text"  sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Frequency (Cron expression)</label>
                    <comment><![CDATA[Используйте Cron формат (н-р "7 0 * * *" раз в сутки в 00:07)]]></comment>
                    <depends>
                        <field id="*/*/enabled">1</field>
                    </depends>
                </field>

            </group>

            <group id="recalculating" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Recalculating Settings (Advanced)</label>

                <field id="apply_algorithm" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Apply Discount Algorithm</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="spread_discount" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Spread Discount evenly</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/*/apply_algorithm">1</field>
                    </depends>
                </field>

                <field id="split_allowed" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Split items allowed</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/*/apply_algorithm">1</field>
                    </depends>
                    <comment>Ability to split 1 item to 2 with different prices (if needed)</comment>
                </field>

            </group>
            <group id="marking" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Marking</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="marking_status_field" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Field if marking process should apply</label>
                    <source_model>Mygento\Base\Model\Source\OrderItem</source_model>
                    <depends>
                        <field id="*/*/enabled">1</field>
                    </depends>
                </field>
                <field id="marking_mark_field" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Field with marking</label>
                    <source_model>Mygento\Base\Model\Source\OrderItem</source_model>
                    <depends>
                        <field id="*/*/enabled">1</field>
                    </depends>
                </field>
                <field id="marking_refund_field" translate="label" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Field with refund marking</label>
                    <source_model>Mygento\Base\Model\Source\OrderItem</source_model>
                    <depends>
                        <field id="*/*/enabled">1</field>
                    </depends>
                </field>
                <field id="gtin_length" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>GTIN Lenght</label>
                    <validate>validate-number</validate>
                    <depends>
                        <field id="*/*/enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
